<ng-container *ngIf="textPart && textPart.content">
    <span *ngFor="let selection of textPart.selections" title="{{selection.content}} - {{selection.translation}}"
          [style.backgroundColor]="getColor(selection.level)" class="selection"
          (click)="preventPropagation($event); clickSelection(selection)">
    </span>
    <app-word-popup [word]="popupSelection" (wordEdit)="onWordEdit($event)" [isSelection]="true"></app-word-popup>

    <span [style.backgroundColor]="textPart.color" [title]="textPart.title" class="popup text-part">
        <span (click)="preventPropagation($event); clickPopup()">
            {{textPart.content}}
        </span>

        <app-word-popup *ngIf="popupWord" [word]="popupWord" (wordEdit)="onWordEdit($event)"></app-word-popup>
    </span>

    <ng-container *ngIf="hasLineBreak(textPart.content)">
        <br>
        <br>
    </ng-container>
</ng-container>
