/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.selection {
    display: inline-block;
    height: 1em;
    width: .5em;
    margin-right: 1px;
}
