<div [formGroup]="signinForm" (keyup.enter)="signin()">
    <div class="input-box">
        <label for="username">Username:</label>
        <input formControlName="username" name="username" id="username" class="form-control" type="text" autofocus >
    </div>

    <div class="input-box">
        <label for="password">Password:</label>
        <input formControlName="password" name="password" id="password" class="form-control" type="password">
    </div>

    <div *ngIf="wrongCredentials" style="color: red;">
        Wrong credentials
    </div>

    <div class="input-box">
        <button (click)="signin()" [disabled]="signinForm.invalid">Signin</button>
        <button (click)="onSignup()">Signup</button>
        <button (click)="forgottenPassword()">Forgotten password</button>
    </div>
</div>
