<div *ngIf="word && translateForm" class="popuptext show" [formGroup]="translateForm" (keyup.enter)="updateTranslation()">
    <div class="font-weight-bold font-size-1_5">
        {{word.content}}
    </div>
    <div class="btn-group-lg">
        <button class="minus-button btn btn-dark btn-lg" (click)="preventPropagation($event); decreaseLevel()">-</button>
        <button class="plus-button btn btn-dark btn-lg" (click)="preventPropagation($event); increaseLevel()">+</button>
        <button class="btn btn-dark btn-lg" (click)="preventPropagation($event); setKnown()">Known</button>
    </div>

    <div>Translation:</div>
    <div (click)="preventPropagation($event)">
        <input type="text" formControlName="translation" #translationField>
    </div>

    <ng-container *ngIf="!isSelection">
        <div>Example sentence:</div>
        <div (click)="preventPropagation($event)">
            <input type="text" formControlName="exampleSentence">
        </div>

        <div>Example sentence translation:</div>
        <div (click)="preventPropagation($event)">
            <input type="text" formControlName="exampleSentenceTranslation">
        </div>
    </ng-container>

    <div>
        <button class="btn btn-dark btn-lg" (click)="preventPropagation($event); updateTranslation()">Submit</button>
    </div>
</div>
