.text-title {
    padding-left: 10px;
    font-weight: bold;
    text-align: center;

    h3 {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
    }
}

.bordered {
    margin-left: 10px;
}

$min-text-height: 70vh;

.text-area {
    min-height: $min-text-height;
    max-height: $min-text-height;
    font-size: 2em;
    line-height: 2em;

    .popuptext {
        /* width: 160px; */
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 8px 0;
        position: absolute;
        z-index: 1;
        /* bottom: 125%; */
        left: 50%;
        top: 0;
        margin-left: -80px;

        input {
            color: black;
        }

        /* Popup arrow */
        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }
    }
}

.translate-box {
    max-height: $min-text-height;
}

.archive-button {
    margin-left: auto;
    margin-right: 20px;
    width: 20%;
}
