<ng-container *ngIf="text">
    <div class="row text-title text-center">
        <h3>{{text.title ? text.title : text.text.slice(0, 10) + '...'}}</h3>
    </div>

    <div class="row">
        <div class="col-sm-6 text-area bordered">
            <app-infinite-scroll [items]="text.textParts">
                <app-word
                    *appScrollItem="let item"
                    [textPart]="item"
                    (openTranslation)="setTranslateLink($event)"
                    (wordEdit)="wordEdit($event)"
                ></app-word>
            </app-infinite-scroll>
        </div>

        <div class="col-sm-5">
            <webview class="translate-box bordered" [attr.src]="translateLink"></webview>
        </div>
    </div>
</ng-container>
