<div class="container">
    <div class="row" class="background-color text-center">
        <h3>Add Text</h3>
    </div>
    <div class="form-group" [formGroup]="textForm">
        <div class="row">
            <input placeholder="Title" type="text" class="form-control" formControlName="title">
        </div>

        <div class="row">
            <select name="languages" class="form-control" formControlName="language">
                <option value="" disabled selected class="form-control">Language</option>
                <option [value]="language._id" *ngFor="let language of languages">{{language.name}}</option>
            </select>
        </div>

        <div class="row">
            <textarea class="form-control" rows="15" formControlName="text"></textarea>
        </div>
    </div>

    <button class="btn btn-primary text-center" (click)="save()" [disabled]="textForm.invalid">Add</button>
</div>
