<div class="container" id="textListVue">
    <div class="row">
        <h3>Texts ({{texts.length}})</h3>
    </div>

    <nav class="navbar navbar-expand-sm">
        <ul class="navbar-nav">
            <li [ngClass]="{'active': isRegularTexts, 'nav-item': true}">
                <a class="nav-link btn btn-primary" (click)="getRegularTexts()">Regular</a>
            </li>
            <li [ngClass]="{'active': isArchivedTexts, 'nav-item': true}">
                <a class="nav-link btn btn-primary" (click)="getArchivedTexts()">Archived</a>
            </li>
        </ul>
    </nav>

    <form class="form-inline" [formGroup]="filterForm" *ngIf="isRegularTexts">
        <ng-container (keyup.enter)="filterTexts()">
            <label for="title">Title contains:</label>
            <input type="text" class="form-control" id="title" formControlName="title">

            <label for="text">Text contains:</label>
            <input type="text" class="form-control" id="text" formControlName="text">

            <label for="createdFrom">Created from:</label>
            <input type="date" class="form-control" id="createdFrom" formControlName="createdFrom">

            <label for="createdTo">Created to:</label>
            <input type="date" class="form-control" id="createdTo" formControlName="createdTo">
        </ng-container>

        <button type="submit" class="btn btn-primary" (click)="filterTexts()">Search</button>

        <button class="btn btn-primary margin-right-5" (click)="resetFilter()">Reset</button>
    </form>

    <div class="row">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Perex</th>
                <th>Created On</th>

                <ng-container *ngIf="isRegularTexts">
                    <th>Percentages (unknown/learning)</th>
                    <th>Edit</th>
                    <th>Archive</th>
                </ng-container>

                <ng-container *ngIf="isArchivedTexts">
                    <th>Unarchive</th>
                </ng-container>
            </tr>
            </thead>

            <div *ngIf="!texts">NO TEXTS</div>

            <tbody>
            <tr *ngFor="let text of texts; let index = index">
                <td>{{index + 1}}</td>
                <td class="font-weight-bold" (click)="textClick(text._id)">
                    {{text.title ? text.title : text.text.slice(0, 10) + '...'}}
                </td>
                <td class="font-weight-lighter" (click)="textClick(text._id)">
                    {{text.text.slice(0, 100)}}...
                </td>
                <td>{{text.createdOn | date}}</td>

                <ng-container *ngIf="isRegularTexts">
                    <td>{{text.percentageUnknown | percent}} / {{text.percentageLearning | percent}}</td>
                    <td><button class="btn btn-primary">Edit</button></td>
                    <td><button class="btn btn-primary" (click)="archive(text._id)">Archive</button></td>
                </ng-container>

                <ng-container *ngIf="isArchivedTexts">
                    <td class="btn btn-primary" (click)="unarchive(text._id)">Unarchive</td>
                </ng-container>
            </tr>
            </tbody>
        </table>
    </div>
</div>
