.form-inline .form-control {
    margin: 5px;
}

.nav-item {
    font-weight: bold;
    margin-right: 10px;

    .active {
        font-weight: lighter;
    }
}

.margin-right-5 {
    margin-right: 5px;
}
