<div [formGroup]="signupForm">
    <div class="input-box">
        <label for="username">Username:</label>
        <input formControlName="username" name="username" type="text" autofocus>
    </div>

    <div class="input-box">
        <label for="password">Password:</label>
        <input formControlName="password" name="password" type="password">
    </div>

    <div class="input-box">
        <label for="repeatPassword">Repeat password:</label>
        <input formControlName="repeatPassword" name="repeatPassword" type="password">
    </div>

    <div class="input-box">
        <label for="email">Email:</label>
        <input formControlName="email" name="email" type="email">
    </div>

    <div *ngIf="incorrectData" class="color-alert">
        Incorrect data
    </div>

    <div class="input-box">
        <button (click)="onSignup()" [disabled]="signupForm.invalid">Signup</button>
        <button (click)="onBack()">Back</button>
    </div>
</div>
