<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <script src="../Sources/Scripts/jquery-3.2.1.min.js"></script>
  <script>
    window.jQuery = window.$ = require('jquery');
  </script>
  <script src="../../node_modules/tether/dist/js/tether.min.js"></script>
  <link rel="stylesheet" href="../Sources/Styles/bootstrap.min.css">
  <link rel="stylesheet" href="../Sources/Styles/bootstrap-grid.min.css">
  <link rel="stylesheet" href="../Sources/Styles/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="../Sources/Styles/custom.css">
  <script src="../Sources/Scripts/bootstrap.min.js"></script>

  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <!-- production version, optimized for size and speed -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

  <title>Read Text</title>
</head>

<body style="background-color:aquamarine;">


  <div class="container" id="readTextVue">
    <div class="row">
      <h3>Read text</h3>
    </div>
    <div class="row">
      <div class="col-sm-6" style="background-color: white;">
          <span v-for="textPart in textParts" style="margin:1px;padding:1px;"
            v-on:click="clickWord(textPart)"
            v-bind:class="{wordColor : (textPart.type === 'word')}"
          >{{textPart.content}}
            </span>
      </div>
      <div class="col-sm-6">
          <webview id="translateWindow" v-bind:src="translateLink()" style="display:inline-flex; width:500px; height:480px"></webview>
      </div>
    </div>
  </div>

  <script>
    require('../Renderers/readText.js');
  </script>
</body>

</html>