<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <script src="../Sources/Scripts/jquery-3.2.1.min.js"></script>
  <script>
    window.jQuery = window.$ = require('jquery');
  </script>
  <script src="../../node_modules/tether/dist/js/tether.min.js"></script>
  <link rel="stylesheet" href="../Sources/Styles/bootstrap.min.css">
  <link rel="stylesheet" href="../Sources/Styles/bootstrap-grid.min.css">
  <link rel="stylesheet" href="../Sources/Styles/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="../Sources/Styles/custom.css">
  <script src="../Sources/Scripts/bootstrap.min.js"></script>

  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <!-- production version, optimized for size and speed -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

  <title>Read Text</title>
</head>

<body>
  <div class="container" id="readTextVue">
    <div class="row">
      <h3>Read text</h3>
    </div>
    <div class="row">
      <div class="col-sm-6 text-area">
        <span v-for="textPart in textParts" v-on:click="clickWord(textPart.content, $event)" v-bind:class="{wordColor : (textPart.type === 'word')}"
          v-bind:title="textPart.type === 'word' ? textPart.translation : ''" class="popup text-part">
          {{textPart.content}}
          <div class="popuptext" v-on:click="clickPopup($event)">
            <div class="font-weight-bold font-size-1_5">
              {{textPart.content}}
            </div>
            <div>
              <button class="minus-button">-</button>
              <button class="plus-button">+</button>
            </div>
            <div>Translation:</div>
            <div><input type="text" v-model='textPart.translation'></div>
            <div>Example sentence:</div>
            <div><input type="text" v-model="textPart.exampleSentence"></div>
            <div>
              <button v-on:click="updateTranslation(textPart)">Submit</button>
            </div>
          </div>
        </span>
      </div>
      <div class="col-sm-6">
        <webview id="translateWindow" class="translate-box" v-bind:src="translateLink()"></webview>
      </div>
    </div>
  </div>

  <script>
    require('../Renderers/readText.js');
  </script>
</body>

</html>