<h1>Languages</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Dictionary</th>
      <th scope="col">Word separators</th>
      <th scope="col">Sentence separators</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let language of languages">
      <ng-container *ngIf="!editingId || editingId !== language._id">
        <td>{{language.name}}</td>
        <td>{{language.dictionary}}</td>
        <td>{{language.wordSeparators}}</td>
        <td>{{language.sentenceSeparators}}</td>
        <td><button class="btn btn-default" (click)="edit(language._id)" [disabled]="editingId">Edit</button></td>
      </ng-container>

      <ng-container *ngIf="editingId && editingId === language._id">
        <td>{{language.name}}</td>
        <td>{{language.dictionary}}</td>
        <td>{{language.wordSeparators}}</td>
        <td>{{language.sentenceSeparators}}</td>
        <td><button class="btn btn-default" (click)="edit(language._id)">Save</button></td>
      </ng-container>
    </tr>
  </tbody>
</table>

<button class="btn btn-default" (click)="add()" [disabled]="editingId">Add</button>