<div class="container">
    <div class="row">
        <h3>Words</h3>
    </div>

    <div class="row">
        <button class="btn btn-primary" (click)="exportWords()">Export</button>
    </div>

    <form class="form-inline" [formGroup]="filterForm">
        <ng-container (keyup.enter)="filterWords()">
            <label for="word">Word contains:</label>
            <input type="text" class="form-control" id="word" formControlName="word">

            <div class="form-check-inline">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="level" formControlName="level" value="unknown">Unknown
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="level" formControlName="level" value="known">Known
                </label>
            </div>
            <div class="form-check-inline disabled">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="level" formControlName="level" value="learning">Learning
                </label>
            </div>
            <div class="form-check-inline disabled">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="level" value="" formControlName="level">Range
                </label>
            </div>

            <label for="levelFrom">Level from (%):</label>
            <input type="number" min="0" max="100" class="form-control" id="levelFrom" formControlName="levelFrom">

            <label for="levelTo">Level to (%):</label>
            <input type="number" min="0" max="100" class="form-control" id="levelTo" formControlName="levelTo">
        </ng-container>

        <button type="submit" class="btn btn-primary" (click)="filterWords()">Search</button>

        <button class="btn btn-primary margin-right-5" (click)="resetFilter()">Reset</button>
    </form>

    <div class="row">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Word</th>
                <th>Translation</th>
                <th>Example sentence</th>
                <th>Translation</th>
                <th>Level</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let word of words">
                <td style="font-weight:bold;">
                    {{word.content}}
                </td>
                <td style="font-weight:lighter;">
                    {{word.translation}}
                </td>
                <td>{{word.exampleSentence}}</td>
                <td>{{word.exampleSentenceTranslation}}</td>
                <td>{{word.level}} <div class="level" [style.backgroundColor]="word.color"></div></td>
                <td><button class="btn btn-primary" (click)="editWord(word._id)">Edit</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
