body {
    background-image: url("./assets/jumbled-letters.jpg");
}

.background-color {
    background-color: palegoldenrod;
}

.bordered {
    border: 2px solid black;
}

.text-area {
    background-color: white;
    padding: 5px;
    line-height: 2em;
}

.text-part {
    margin: 1px;
    border-radius: 2px;
    padding: 0px 2px;
}

.translate-box {
    width: 45vw;
    height: 90vh;
}

.input-box {
    padding: 10px;

    > label, button {
        margin-right: 10px;
    }
}

.font-weight-bold {
    font-weight: bold;
}

.font-size-1_5 {
    font-size: 1.5em;
}

.wordColor {
    background-color: red;
}

.color-alert {
    color: red;
}

.text-center {
    text-align: center;
}

.content-center {
    align-content: center;
    margin-right: auto;
    margin-left: auto;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.form-inline .form-control {
    margin: 5px;
}

.margin-right-5 {
    margin-right: 5px;
}
